
.first-section{
    padding: 25px 135px 65px 205px;
    background-color: rgba(240, 255, 240, 1);
}

.second-section{
    padding: 25px 195px 65px 205px;
    background-color: rgba(240, 255, 240, 1);
}
.third-section{
    padding: 25px 195px 0px 205px;
    margin-top: 20px;
}
.col-md-3{
    padding: 52px 98px 138px 97px;
}
.abcd{
    text-align: center;
    padding: 40px;
    background-color: rgba(248, 255, 251, 1);
    border:none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}
.abcd-2{
    text-align: center;
    padding: 40px;
    background-color: white;
    border:none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}
.center-text{
    text-align: center;
    margin-bottom: 20px;
}
.card{
    margin: 20px;
    padding: 20px;
    box-shadow: 5px 5px 20px lightgray;
}
button.btn-info{
    border-radius: 20px;
    padding: 7px 20px;
}
.date-of-card{
    margin-top: 30px;
}
.text-aaa{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 67px;
}
.six-section{
    margin-top: 70px;
    padding: 55px 136px 0px 143px;
    background-color: #282531;
    color: white;
}
.last-section{
    padding: 76px 567px 27px 536px;
    background-color: #282531;
    color: white;
}